@tailwind base;
@tailwind components;
@tailwind utilities;


/* Style the Nav Bar with Underline */
.nav_link::after {
  content: '';
  height:4px;
  width:100%;
  background-color: orange;
  display: block;
  opacity: 0;
  transition: all 0.4s;
  pointer-events: none;
}

.nav_link:hover::after {
  opacity: 1;
}

/* Job Title Blink Color Effect */
.title_blink {
  text-shadow: 0 0 10px orange;
  animation:blink 4s infinite;
}

@keyframes blink {
  50% {
    text-shadow: none;
  }
}

/* Subsection Border */
#subsection-title {
  border-bottom:4px solid orange;
  display: table-cell; /* restrict border width to text width */
  width:100px;
}


/*============================*/

.App {
  text-align: center;
  font-family: 'Fira Mono', monospace;
  font-family: 'Mulish', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
